@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav {
    width: 80vw;
    height: 200px;
    background-color: #ffffffcf;;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 1vw;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
}

.nav > img {
    display: inline-block;
    height: 200px;
    width: 200px;
    overflow: hidden;
    margin-left: 15px;
    margin-right: 20px;
}

.nav > a {
    font-size: 40pt;
    color: #daa520;
    padding-right: 20px;
    font-family: 'Bonheur Royale', cursive;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
    text-decoration: none;
}

.conta {
    display: flex;
}

.conta > a {
    font-family: 'Bonheur Royale', cursive;
    font-size: 40pt;
    color: #daa520;
}

body {
    background-image: url(../img/background-site.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

